@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-app: "Inter", "Segoe UI", Arial, sans-serif;
  --font-poppins: "Poppins", "Segoe UI", Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-app);

  --color-primary: #0070d8;
  --color-dark-primary: #003b72;
  --color-secondary: #025eb3;
  --color-navy-900: #0a192f;
  --color-navy-800: #112240;
  --color-navy-700: #1b2a4e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-app);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
