@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-Inter);

  --color-primary: #0070d8;
  --color-dark-primary: #003b72;
  --color-secondary: #025eb3;
  --color-navy-900: #0a192f;
  --color-navy-800: #112240;
  --color-navy-700: #1b2a4e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
